@use "../utils/index" as *;

.gv-timeline {
  padding-top: $default-distance * 1.5;
  position: relative;

  & > .gv-item {
    @include d-flex;
    position: relative;
    padding-bottom: $default-distance * 1.5;

    &:first-child {
      &:before {
        top: unset;
        height: 50%;
      }
    }

    &:before {
      top: 0;
      bottom: 0;
      left: 47px;
      right: auto;
      content: "";
      height: 100%;
      position: absolute;
      letter-spacing: 4px;
      border: 1px dashed var(--gv-color-border);
    }

    &.active {
      & > .gv-divider {
        & > .gv-icon {
          & > .gv-dot {
            background-color: var(--gv-accent);
          }
        }
      }
    }

    &.success {
      &:before {
        border-style: solid;
      }

      & > .gv-divider {
        & > .gv-icon {
          & > .gv-dot {
            background-color: var(--gv-success);
          }
        }
      }
    }

    &.error {
      & > .gv-divider {
        & > .gv-icon {
          & > .gv-dot {
            background-color: var(--gv-error);
          }
        }
      }
    }

    &.warning {
      & > .gv-divider {
        & > .gv-icon {
          & > .gv-dot {
            background-color: var(--gv-warning);
          }
        }
      }
    }

    &.disabled {
      & > .gv-content {
        opacity: 0.7;
        text-decoration: line-through;
      }

      & > .gv-divider {
        & > .gv-icon {
          @include box-shadow(none);

          & > .gv-dot {
            background-color: var(--gv-secondary-light);
          }
        }
      }
    }

    & > .gv-content {
      height: 100%;
      position: relative;
      @include flex(1 1 auto);

      & > .gv-header {
        font-weight: 700;
        line-height: 32px;
        font-size: $font-size * 1.125;
        @include o-ellipsis;
        white-space: inherit;
      }
    }

    & > .gv-divider {
      @include d-flex;
      min-width: 96px;
      position: relative;
      @include align-items(center);
      @include justify-content(center);

      & > .gv-icon {
        width: 32px;
        height: 32px;
        @include d-flex;
        overflow: hidden;
        @include align-items(center);
        @include justify-content(center);
        background-color: var(--gv-color-theme);
        @include border-radius($border-radius-circle);
        // @include box-shadow(0 2px 6px var(--gv-secondary));

        & > .gv-dot {
          width: 24px;
          height: 24px;
          margin: $default-distance * 0.25;
          background-color: var(--gv-color-dark);
          @include border-radius($border-radius-circle);
        }

        &.sm {
          width: 24px;
          height: 24px;
          left: calc(50% - 12px);

          & > .gv-dot {
            width: 16px;
            height: 16px;
          }
        }

        &.lg {
          width: 38px;
          height: 38px;
          left: calc(50% - 26px);

          & > .gv-dot {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
