.a-left {
  text-align: left !important;
}

.a-center {
  text-align: center !important;
}

.a-right {
  text-align: right !important;
}

.a-justify {
  text-align: justify !important;
}

.a-baseline {
  vertical-align: baseline !important;
}

.a-top {
  vertical-align: top !important;
}

.a-middle {
  vertical-align: middle !important;
}

.a-bottom {
  vertical-align: bottom !important;
}

.a-text-bottom {
  vertical-align: text-bottom !important;
}

.a-text-top {
  vertical-align: text-top !important;
}
