
.align-items-center {
  -webkit-align-items: center !important;
  align-items: center !important;
}

.align-items-flex-end {
  -webkit-align-items: flex-end !important;
  align-items: flex-end !important;
}

.align-items-flex-start {
  -webkit-align-items: flex-start !important;
  align-items: flex-start !important;
}

.justify-content-center {
  -webkit-justify-content: center !important;
  justify-content: center !important;
}

.justify-content-space-around {
  -webkit-justify-content: space-around !important;
  justify-content: space-around !important;
}

.justify-content-space-between {
  -webkit-justify-content: space-between !important;
  justify-content: space-between !important;
}

.justify-content-flex-end {
  -webkit-justify-content: flex-end !important;
  justify-content: flex-end !important;
}

.justify-content-flex-start {
  -webkit-justify-content: flex-start !important;
  justify-content: flex-start !important;
}
