@use '../utils/index' as *;

.gv-form-group {
  width: 100%;
  position: relative;
  margin-bottom: $default-distance * 0.75;

  &.required {
    & > label:after {
      content: '*';
    }
  }

  & > label {
    width: 100%;
    display: block;
    font-weight: 500;
    position: relative;
    color: var(--gv-color-font);
    font-size: $font-size * 0.875;
    margin-top: $default-distance * 0.5;
    margin-bottom: $default-distance * 0.5;
  }

  &.error {
    &:after {
      line-height: initial;
      color: var(--gv-error);
      font-size: $font-size * 0.75;
      content: attr(data-validation-message);
    }

    & > label {
      color: var(--gv-error) !important;
    }
  }
}
